{% extends "schemes/base.html" %}
{% block content %}
    <div id="search-add-wrapper">
        <form method="GET" style="display: flex;">
          <input type='text' name='search-area' placeholder="Search Schemes" value="{{search_input}}">
          <input class="button" type="submit" value='Search'>
        </form>
          {% comment %} <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a> {% endcomment %}
    
    </div>
    {% for scheme in schemes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">vt</a>
              <small class="text-muted">{{ scheme.uploadDate|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url "schemedetail" scheme.slug%}">{{ scheme.name }}</a></h2>
            <p class="article-content">{{ scheme.brief }}</p>
            <div style="display:flex">
              {% for tag in scheme.category.all %}
              <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
              {% endfor %}
          </div>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
      {% if search_input == '' %}
        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

      {% else%}
        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?search-area={{search_input}}&page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?search-area={{search_input}}&page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?search-area={{search_input}}&page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?search-area={{search_input}}&page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?search-area={{search_input}}&page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?search-area={{search_input}}&page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
      {% endif %}
    {% endif %}
{% endblock content %}
